{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}
{% block content %}
<div class="row gy-4">
  <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
    <h1>Bettter digital experience with ArtVerse</h1>
    <h2>Welcome to ArtVerse, where creativity meets the digital realm! Immerse yourself in a world of extraordinary
      digital art and unlock the power of NFTs</h2>
    <div>
      <a href="#about" class="btn-get-started scrollto">Explore Now</a>
    </div>
  </div>
  <div class="col-lg-6 order-1 order-lg-2 hero-img">
    <img src="{% static 'assets/img/hero-img.svg' %}" class="img-fluid animated" alt="">
  </div>
</div>
{% endblock content %}

{% block body %}

<!-- <section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h1 style="font-weight: bold;">Welcome to ArtVerse</h1>
      <h3>Our <span style="color: #eb5d1e; font-weight: 600;">Featured</span> NFTs</h3>
    </div>

    {% for add, range, nSlides in allnfts %}

    <h5 class="my-4 text-center text-success bg-light">{{add.0.category}}</h5>

    <div class="container">
      <div class="row">

        {% for i in add %}
        <div class="col-xs-3 col-sm-3 col-md-3 mt-3 pt-4">
          <img src="{{i.image.url}}" class="card-img-top" alt="..." style="width: 15rem;height: 18rem;">
          <div class="card-body">
            <h4 class="card-title" id="nft_namepr{{i.id}}">NFT Name: {{i.nft_name}} </h4>
            <h4 class="card-title" id="namepr{{i.id}}">Seller Name: {{i.name}} </h4>

            <p class="card-text">Description: {{i.desc|slice:"0:20"}}...</p>
            <h6 class="card-title">Price: <span id="pricepr{{i.id}}">{{i.price}}</span></h6>
            <span id="divpr{{i.id}}" class="divpr">
              <button id="pr{{i.id}}" class="btn btn-secondary cart">Buy Now</button>

            </span>
            <a href="/media/{{i.image}}"><button class="btn btn-dark btn-sm cart">QuickView</button></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section> -->
<div class="slider">
  <div class="section-title">
    <h1 style="font-weight: bold;margin-top: 20px;">Welcome to ArtVerse</h1>
    <h3>Our <span style="color: #eb5d1e; font-weight: 600;">Featured</span> NFTs</h3>
  </div>
  <div class="slide-track">
    {% for add, range, nSlides in allnfts %}
    <div class="slide">
      {% for i in add %}
      <img src="{{i.image.url}}" height="300" width="250" alt="" style="border: 3px solid black;border-radius: 20px;" />

      <div style="margin: 10px;">
        <h4> {{i.nft_name}}</h4>
        <h4> Rs:{{i.price}}</h4>
        <a href="/media/{{i.image}}"><button
            class="btn btn-dark btn-sm cart">QuickView</button></a>&emsp;&emsp;&emsp;&emsp;@{{i.name}}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% for add, range, nSlides in allnfts %}
    <div class="slide">
      {% for i in add %}
      <img src="{{i.image.url}}" height="300" width="250" alt="" style="border: 3px solid black;border-radius: 20px;" />

      <div style="margin: 10px;">
        <h4> {{i.nft_name}}</h4>
        <h4> Rs:{{i.price}}</h4>
        <a href="/media/{{i.image}}"><button
            class="btn btn-dark btn-sm cart">QuickView</button></a>&emsp;&emsp;&emsp;&emsp;@{{i.name}}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% for add, range, nSlides in allnfts %}
    <div class="slide">
      {% for i in add %}
      <img src="{{i.image.url}}" height="300" width="250" alt="" style="border: 3px solid black;border-radius: 20px;" />

      <div style="margin: 10px;">
        <h4> {{i.nft_name}}</h4>
        <h4> Rs:{{i.price}}</h4>
        <a href="/media/{{i.image}}"><button
            class="btn btn-dark btn-sm cart">QuickView</button></a>&emsp;&emsp;&emsp;&emsp;@{{i.name}}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}